
.outer-position{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


.styled-table {
    background-color: #ffffff;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    width: 100%;
    font-size: 20px;
}

.styled-table th, .styled-table td {
    border: 1px solid #dddddd;
    padding: 8px;
}

.styled-table th {
    background-color: #f2f2f2;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container {
    max-height: 90vh;
    overflow-y: auto;
    width: 95%;

    /*position: fixed;*/
    /*right: 15%;*/
    /*left: 15%;*/
    /*flex-grow: 1;*/
}

/*.table-header {*/
/*   width: 100%;*/

/*}*/

body, html {
    margin: 0;
    padding: 0;
}


.header-block {
    background-color: #17B169;
    text-align: center;
    width: 100%;
    height: 50px;
    min-height: 10%;
    font-size: 200%;
    display: flex;
    align-items: center;
    color: white;
    border-top: 1px solid black;
    border-bottom: 2px gainsboro;
    justify-content: center;
}

.operation-block {
    background-color: #17B169; /* Kolor tła bloku operacyjnego */
    text-align: center;
    width: 100%;
    min-height: 20px;
    font-size: 150%;
    z-index: 1;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.logout{
    margin-right: auto;

}

